/*!
 * Footer content
 */

.footer {

  & .logo {
    display: block;
    height: 45px;

    & img {
      height: 100%;
      width: auto;
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      transition: .3s;

      &:hover {
        -webkit-filter: grayscale(0);
        filter: none;
        transition: .3s;
      }
    }
  }

  & .contact .form {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    margin-bottom: 30px;

    & .form-block {
      width: 100%;
    }

    & input, & textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 5px 10px;
      background: rgba(255, 255, 255, 0.15);
      border: 0;
      color: $white;
    }

    @include xs() {
      & input {
        width: auto;
      }
    }

    & .submit {
      transition: .3s;
      border: 3px solid $blue;
      text-shadow: 0 1px 1px $black;
    }
  }

  & .ball-1 {
    width: 155px;
    height: 148px;
    display: block;
    position: absolute;
    right: 0px;
    top: -40px;
    background: url("../images/ball-1.png") center center no-repeat;
    background-size: contain;
    z-index: 2;

    @media screen and (max-width: 1199px) {
      width: 145px;
      height: 140px;
    }
  }

  & .description {
    background: url("../images/description-bg.jpg") center center no-repeat;
    //min-height: 510px;
    background-size: cover;

    @media screen and (max-width: 575px) {
      background-position: right center;
    }

    &-title {
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;

      & span {
        font-size: 30px;
      }

      @media screen and (max-width: 1199px) {
        font-size: 32px;
      }
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
      @media screen and (max-width: 575px) {
        padding-right: 80px;
      }
    }
  }

  & .copyright {
    background: #000;
    height: 70px;
    color: $white;
    font-size: 24px;

    @media screen and (max-width: 1199px) {
      font-size: 22px;
    }
    @media screen and (max-width: 991px) {
      height: auto;
    }

    & p {
      display: block;
      width: 33%;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    & a {
      color: $white;

      &:hover {
        color: $blue;
      }
    }

    & .rights {
      color: $grey;
      font-size: initial;
    }
  }
}
