/*!
 * Header content
 */
.header {
  background: url(../images/header-bg.jpg) center center no-repeat;
  background-size: cover;
  height: auto;
  min-height: 500px;

  @media screen and (max-width: 991px) {
    height: auto;
    padding-bottom: 20px;
  }

  & .navbar {
    text-transform: uppercase;
    border-bottom: 1px solid #fff;

    &-brand {
      height: 70px;

      & .logo {
        height: 100%;
        width: auto;

      }
    }

    &.bg-dark {
      background-color: $blue !important;
    }

    & .nav {

      @media screen and (max-width: 1199px) {
        font-size: 14px;
      }

      &-item {

        & .nav-link.active {
          color: $dark-blue;
          //font-weight: 500;
        }
      }

      &-link {
        color: $white;

        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }

    }
  }

  &-background {
    padding-top: 120px;
    height: 100%;

    &-title {
      width: 75%;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 42px;
      text-shadow: 0 5px 5px $black;

      @media screen and (max-width: 1199px) {
        font-size: 36px;
      }
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }

    &-description {
      font-weight: 300;
      font-size: 20px;
      width: 75%;
      margin-bottom: 0;
      text-shadow: 0 3px 3px $black;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    &-content {
      height: 100%;
    }

    &-button {
      margin-top: 10px;
      text-align: left;
      text-shadow: 0 1px 1px $black;
      border: 3px solid $dark-blue;

      @media screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }
}

.btn {
  background: $blue url("../images/button-bg.jpg") center center no-repeat;
  border-radius: 0;
  color: $white;
  display: block;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
  font-size: 20px;
  position: relative;
  //box-shadow: 0px 5px 18px 0px $white;

  @media screen and (max-width: 1199px) {
    padding: 10px 30px;
    font-size: 20px;
  }

  @media screen and (max-width: 991px) {
    font-size: 18px;
    max-width: 260px;
  }

  &:hover {
    background: $blue url("../images/button-bg-hover.jpg") center center no-repeat;
    color: $white;
  }
}
