/*!
 * Header content
 */
.header {
  background: url(../images/header-bg.jpg) center center no-repeat;
  background-size: cover;
  height: auto;
  min-height: 600px;
  position: relative;
  z-index: 9;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1;
  }

  @media screen and (max-width: 991px) {
    height: auto;
    padding-bottom: 20px;
  }

  & .navbar {
    text-transform: uppercase;
    border-bottom: 1px solid #fff;

    &-brand {
      height: 70px;

      & .logo {
        height: 100%;
        width: auto;

      }
    }

    &.bg-darkmenu {
      background: rgba(0,0,0,.75);
      border-bottom: none;
      height: auto;
      align-items: center;
      transition: .5s;

      &.opacity {
        background: rgba(0,0,0,1);
        height: 100%;
        align-items: flex-start;
        transition: .5s;
      }
    }

    & .ubermenu {
      align-items: center;

      & .whatsapp {
        font-size: 30px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          font-size: 20px;
          margin-right: 10px;
          //font-weight: 600;
        }

        @media screen and (max-width: 991px) {
          display: none;
        }

        &, &:visited, &:focus, & span, & span:visited, & span:focus {
          color: #0fbd17 !important;
          text-decoration: none;
          transition: .3s;

          &:hover {
            text-decoration: none;
            color: $blue !important;
            transition: .3s;
          }
        }
      }
    }

    & .ubermenu-mobile {
      align-items: center;
      right: 80px;
      top: 20px;

      & .whatsapp {
        font-size: 30px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
          font-size: 20px;
          margin-right: 10px;
          //font-weight: 600;

          @include xs() {
            display: none;
          }
        }

        &, &:visited, &:focus, & span, & span:visited, & span:focus {
          color: #0fbd17 !important;
          text-decoration: none;
          transition: .3s;

          &:hover {
            color: $blue !important;
            text-decoration: none;
            transition: .3s;
          }
        }
      }
    }

    & .nav {

      @media screen and (max-width: 1199px) {
        font-size: 14px;
      }

      &-item {

        & .nav-link.active {
          color: $blue;
          //font-weight: 500;
        }
      }

      &-link {
        color: $white;

        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }

    }
  }

  &-background {
    padding-top: 120px;
    height: 100%;

    &-title {
      z-index: 2;
      width: 75%;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 42px;
      text-shadow: 0 5px 5px $black;

      @media screen and (max-width: 1199px) {
        font-size: 36px;
      }
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }

    &-description {
      z-index: 2;
      font-weight: 300;
      font-size: 20px;
      width: 75%;
      margin-bottom: 0;
      text-shadow: 0 3px 3px $black;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    &-content {
      height: 100%;
    }

    &-button {
      z-index: 2;
      margin-top: 10px;
      text-align: left;
      text-shadow: 0 1px 1px $black;
      border: 3px solid $dark-blue;

      @media screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    &-arrow {
      z-index: 2;
    }
  }
}

.btn {
  background: $blue;
  border-radius: 0;
  color: $white;
  display: block;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
  font-size: 20px;
  position: relative;
  //box-shadow: 0px 5px 18px 0px $white;

  @media screen and (max-width: 1199px) {
    padding: 10px 30px;
    font-size: 20px;
  }

  @media screen and (max-width: 991px) {
    font-size: 18px;
    max-width: 260px;
  }

  &:hover {
    background: $dark-blue;
    color: $white;
  }
}
